<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.can.bootmanager">
    <!--android:sharedUserId="android.uid.system"-->

    <permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <permission android:name="android.permission.FORCE_STOP_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BootManagerAppTheme"
        >
        <activity
            android:name=".BootManagerActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>